{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier/prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "max-statements": ["error", 8],
    "max-depth": ["error", 4],
    "max-params": ["error", 3],
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "warn",
    "react/display-name": "warn",
    "max-len": [
      2,
      {
        "code": 10,
        "ignoreUrls": true,
        "ignoreComments": true
      }
    ],
    "linebreak-style": 0,
    "no-console": "warn",
    "no-unused-vars": "warn",
    "printWidth": 100,
    "indent": ["error", 2]
  }
}
